/* Base styles */
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.AppHeader {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.AppFooter {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.05);
}

.SideMenu {
  height: 100%;
  flex-basis: 200px; /* Adjust as needed */
}

.SideMenuVertical {
  height: 100%;
}

.PageContent {
  padding-left: 12px;
  flex: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
  .AppHeader {
    flex-direction: column;
    height: auto;
    padding: 8px 10px;
  }

  .AppFooter {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .SideMenuAndPageContent {
    flex-direction: column;
  }

  .SideMenu {
    flex-basis: auto;
    width: 100%;
  }

  .PageContent {
    padding-left: 0;
    padding-top: 10px;
  }
}

@media (max-width: 480px) {
  .AppHeader {
    padding: 8px 6px;
  }

  .AppFooter {
    padding: 8px 6px;
  }

  .SideMenu {
    display: none; /* Hide the side menu on small screens */
  }

  .PageContent {
    padding-top: 0;
  }
}
